html, body {
    height: 100%;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Esse bloco será removido e colocado em seu devido componente*/
.m-0 {
    margin: 0px;
}

.p-h-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.h-100 {
    height: 100%;
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-h-15-0 {
    padding-left: 15px;
    padding-right: 0px;
}

.add-border-code {
    border-right: 13px solid #0668bc;
    border-left: 13px solid #0668bc;
    border-bottom: 13px solid #0668bc;
}

.p-0-lbr {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

pre {
    width: 100%;
    margin-bottom: 0px;
}


.panel {
    border: 1px solid rgba(2, 117, 216, 0.83);
    background-color: rgba(0, 0, 0, .2);
    color: #FFF;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    -webkit-border-radius: 4.8px;
    -moz-border-radius: 4.8px;
    border-radius: 4.8px;
}

.panel:hover {
    border: 1px solid rgba(0, 153, 0, 1);
    background-color: rgba(38, 38, 38, 0.2);
}

.jumbotron {
    border: 1px solid rgba(2, 117, 216, 0.83);
    background-color: rgba(0, 0, 0, .2);
    color: #FFF;
}

.lead-1 {
    font-size: 1rem;
    font-weight: 300
}

.img-250 {
    width: 250px;
    height: 250px;
}

.text-centered {
    text-align: center;
}

.text-justify {
    text-align: justify;
}


.btn-r-top {
    position: absolute;
    right: 20px;
    top: -5px;
    ;
}

/* Esse bloco será removido*/