
@import "./highlight_css/atelier-forest-dark.css"; /* Style do código fonte  */
@import "./app/styleApp.css";/* Maioral da aplicação */

// styles in src/style directory are applied to the whole page
/*body {
    background: #0147A7;
    color: #fff;
}
a {
    color: #03A9F4;
}*/
