<div class="body">
    <div style="background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQYV2NkQAKMULYPAwPDFhgHLAYAD6UBBHE0TWoAAAAASUVORK5CYII=) repeat;">
        <header class="bk border-bottom-blue " style="margin-bottom: 5px;">
            <my-menu></my-menu>
        </header>
        <main>
            <div class="Container">
                <div class="Middle">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </main>
        <!-- 
        <footer style="text-align: center;">
            footer
        </footer>
        -->
    </div>
</div>